[project]
	description = My personal preferred vim set up
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Ryan Price (RyanPriceDotCa)
[access "refs/for/refs/*"]
	read = group user/Ryan Price (RyanPriceDotCa)
	push = group user/Ryan Price (RyanPriceDotCa)
	label-Code-Review = -2..+2 group user/Ryan Price (RyanPriceDotCa)
	label-Verified = -1..+1 group user/Ryan Price (RyanPriceDotCa)
	rebase = group user/Ryan Price (RyanPriceDotCa)
	removeReviewer = group user/Ryan Price (RyanPriceDotCa)
	submit = group user/Ryan Price (RyanPriceDotCa)
[access "refs/heads/*"]
	read = group user/Ryan Price (RyanPriceDotCa)
	create = group user/Ryan Price (RyanPriceDotCa)
	push = +force group user/Ryan Price (RyanPriceDotCa)
	pushMerge = group user/Ryan Price (RyanPriceDotCa)
[access "refs/tags/*"]
	push = +force group user/Ryan Price (RyanPriceDotCa)
	pushTag = group user/Ryan Price (RyanPriceDotCa)
	pushSignedTag = group user/Ryan Price (RyanPriceDotCa)
